
#imgFlow img{
    transition: all .2s linear 0s;
}
#imgFlow img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.show-msg{
    display: block;
    text-align: center;
    padding-top: 150px;
}
.show-msg a:hover,a:link{
    color: #222222;
}
.pre-scrollable{
    border: #9b9b9b dashed 1px;
    max-height: 400px;
}
.modal-content{
    border: 0px!important;
}
#detailModal .modal-header {
    height: 300px;
    border-bottom: none;
    background-size: 100% auto;
}

#detailModal .image-bg {
    position: absolute;
    top: 220px;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, rgba(231, 51, 104, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient(top, rgba(231, 51, 104, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top, rgba(231, 51, 104, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(top, rgba(231, 51, 104, 0) 0%, rgb(255, 255, 255) 100%);
}

#detailModal img {
    width: 100%;
    border-radius: 4px;
}
.foot{
    margin-top: 20px;
    text-align: center;
    padding: 20px 0px;
    color: #5e5e5e;
}
.foot p{
    display: block;
}

.flex-images {
    overflow: hidden;
}

.flex-images .item {
    float: left;
    margin: 4px;
    border: 1px solid #eee;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.flex-images .item img {
    width: 100%;
    height: 100%;
}

/*flex images*/
.flex-images {
    overflow: hidden;
}

.flex-images .item {
    float: left;
    margin: 4px;
    border: 1px solid #eee;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.flex-images .item img {
    width: 100%;
    height: 100%;
}